body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}
header {
    text-align: center;
    color: black;
    padding: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.left {
    flex: 1;
    padding: 20px;
}
.left img {
    width: 100%;
    height: auto;
    max-width: 700px;
}
.right {
    flex: 2;
    padding: 20px;
    text-align: justify;
}
.author {
    text-align: right;
    font-style: italic;
    margin-top: 10px;
}
.buttons {
    text-align: center;
    margin-top: 20px;
}
.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}
.button:hover {
    background-color: #45a049;
}

/* Reszponzív stílusok */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .left, .right {
        flex: none;
        width: 80%;
        text-align: center;
    }
}